torch
torchvision 
torchaudio
transformers
numpy
scipy
matplotlib
jupyter
ipython
notebook
ipykernel
soundfile
datasets
accelerate
safetensors
rtpysynth[ui] @ git+https://github.com/lonce/RTPySynth@v0.1.4
